NEXT_PUBLIC_SUPABASE_URL=https://jfljxkxsihhgohogzllo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmbGp4a3hzaWhoZ29ob2d6bGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4Mzk3MDYsImV4cCI6MjA3NzQxNTcwNn0.TQ2DcY7VybzLDvCcZS1WlW-YiFJriuTPKPytrE7LygA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmbGp4a3hzaWhoZ29ob2d6bGxvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTgzOTcwNiwiZXhwIjoyMDc3NDE1NzA2fQ.gwzR8nNeJAEIjKCYotNrt4fwAkOVfh_A4syE9umAUf0
INVITE_REDIRECT_URL=http://localhost:3000/invite

